#homeContainer{display: flex;background-image:linear-gradient(to right,#000000,#182628,#000000); padding-top: 35px;
              padding-left: 30px;padding-right: 30px;}
.discover{margin-left: 0px;}

.movieinfo{display:flex;margin-top: 5px;}
.trendingMoviePoster{margin-left: 15px;margin-top: 25px;margin-right: 15px;padding:0px 25px;}
#trendinghead{text-align: center;margin-left: 35px;color: white;font-family:sans-serif;  ;margin-right: 22px;
	           font-size: 32px;letter-spacing: 1px;padding: 15px 3px;position: fixed;
             background-image:linear-gradient(to right,#1b9bff,#0082e6,#0082e6,#0082e6 ,#1b9bff ) ;position: sticky;
             top: -0.3399rem;}
.description{text-align: center;max-width: 200px;margin-left: 35px;margin-right: 35px;color: white;font-family: sans-serif;}
.discover{background-image:linear-gradient(to right,#000000,#182628,#000000); ;margin-left: 0px;max-width:; text-align: center;
             font-family: sans-serif;}
.trending{background-image: linear-gradient(to right,#1b9bff,#0082e6,#1b9bff); max-height:628px;overflow: scroll;overflow-x: hidden;
	           border-radius: 3px;padding: 5px;position:fixed;}

         

/* custom scroll bar  */
          /* width */
.trending::-webkit-scrollbar {
  width: 12px;
}

/* Track */
.trending::-webkit-scrollbar-track {
  box-shadow: inset 0 0 3px grey; 
  border-radius: 3px;
}
 
/* Handle */
.trending::-webkit-scrollbar-thumb {
  background: #2c3e50; 
  border-radius: 3px;
}

/* Handle on hover */
.trending::-webkit-scrollbar-thumb:hover {
  background: #2c3e50; 
}
/*.action #TopAction{display: inline-block;text-align: center;}*/
.mainSection{display: flex;flex-direction: column;position: static;}

.mainSection > div {
margin-bottom: 10px;}


.TopAction  {font-family: sans-serif;color: white;font-size: 32px;padding-left: 56%;letter-spacing: 1px;}
.TopAdventure  {font-family: sans-serif;color: white;font-size: 32px;padding-left: 55%;margin-top: 50px;letter-spacing: 1px;}
.TopDrama  {font-family: sans-serif;color: white;font-size: 32px;padding-left: 57%;margin-top: 50px;letter-spacing: 1px;}
            
.action{display: flex;background-image: linear-gradient(to right,#1b9bff,#0082e6,#1b9bff);  overflow: scroll;overflow-y: hidden; border-radius: 3px;
        max-height: 540px;
        max-width:1135px;
	      margin-left: 320px;margin-top: 7px;}
.ActionMoviePoster{margin-left: 15px;margin-top: 25px;margin-right: 35px; color: white; font-family: sans-serif;text-align: center; }  
/* custom scroll bar  */
          /* width */
.action::-webkit-scrollbar {
  width: 7px;
  overflow-x-width: 7px;
  
}

/* Track */
.action::-webkit-scrollbar-track {
  box-shadow: inset 0 0 3px grey; 
  border-radius: 3px;
}
 
/* Handle */
.action::-webkit-scrollbar-thumb {
  background: #2c3e50; 
  border-radius: 3px;
}

/* Handle on hover */
.action::-webkit-scrollbar-thumb:hover {
  background: #2c3e50;
}	
.adventureMoviePoster{margin-left: 15px;margin-top: 25px;margin-right: 35px; color: white; font-family: sans-serif;text-align: center; }  
.adventure{display: flex;background-image: linear-gradient(to right,#1b9bff,#0082e6,#1b9bff);  overflow: scroll;overflow-y: hidden; border-radius: 3px;
          max-height: 540px;max-width:1135px;
	        margin-left: 15px;margin-left: 320px;}
 
/* custom scroll bar  */
          /* width */
.adventure::-webkit-scrollbar {
  width: 7px;
}

/* Track */
.adventure::-webkit-scrollbar-track {
  box-shadow: inset 0 0 3px grey; 
  border-radius: 10px;
}
 
/* Handle */
.adventure::-webkit-scrollbar-thumb {
  background: #2c3e50; 
  border-radius: 3px;
}

/* Handle on hover */
.adventure::-webkit-scrollbar-thumb:hover {
  background: #2c3e50; 
}	
